<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="en, rus">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="css/schedule.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <table class="header" cellpadding="4" cellspacing="1" border="1" align="center">
    <tr>
      <td><ul>
        <li> <a href="#"></a>Schedule</li>
        <li> <a href="#"></a>Tomorrow's schedule</li>
        <li> <a href="http://localhost:8080/schedule" target="">All schedule</a></li>
      </ul></td>
      <td><ul>
        <li><a href="http://localhost:8080/calendar" target="">Calendar</a></li>
      </ul> </td>
      <td><ul>
        <li><a href="http://localhost:8080/tasks" target="">Tasks</a></li>
      </ul> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <table class="tomorSheduleT" cellpadding="4" cellspacing="1" border="1" align='center'>
     <caption>Tomorrow's schedule</caption>
     <tr>
       <td>8:00</td>
       <td>9:50</td>
       <td>11:50</td>
       <td>13:45</td>
       <td>15:35</td>
       <td>17:25</td>
       <td>19:00</td>
     </tr>
     <tr>
       <td>-</td>
       <td>Maths</td>
       <td>SQL</td>
       <td>SQL</td>
       <td>-</td>
       <td>PE</td>
       <td>-</td>
     </tr>
     <tr>
       <td>-</td>
       <td>2470 <br>
         Popova street, 5</td>
       <td>3319 <br>
Popova street, 5</td>
       <td>3319 <br>
Popova street, 5</td>
       <td>-</td>
       <td>6202 <br>
Popova street, 37</td>
       <td>-</td>
     </tr>
   </table>
   <br>
   <br>
   <br>
   <br>
   <div id="week_table">
     <p v-html="schedule"></p>
   </div>

  <div id="app">{{schedule}}</div>
    <script src="/js/schedule.js"></script>
</body>
</html>
