body {
    text-align: center;
    background: url('../img/background.jpg');
    background-size: cover;
    font-family: 'Roboto', 'Helvetica Nue', cursive;
    font-size: 110%;
    color: #F5F5DC;
}