body {
  text-align: center;
  background: url('../img/registration.jpg');
  background-size: cover;
  font-family: 'Roboto', 'Helvetica Nue', cursive;
  font-size: 110%;
  color: #F5F5DC;
}

table {
  color: #F5F5DC;
  border: 1px solid green;
  margin: auto;
  width: 1000px;
  background: navy;
}
th {

  width: 30px;
  padding: 10px;
}
td {

    width: 300px;
  padding: 10px;
  background: #3EB489;
}
dd {

    width: 300px;
  padding: 10px;
}
dt {
  width: 300px;
}

a {
  pointer-events: none;
  color: #F5F5DC;
  text-decoration: none;
}

.header a {
  pointer-events: auto;
}

.header  {
  pointer-events: auto;
  width: 100%;
  position: fixed;
  top: auto;
  border: 0.5px solid #333;
  background: #B0E0E6;
}
.header li:hover ul, .header
li.jshover ul {
  display: block;
}
.header li:hover, .header li.jshover {
  background: #424242;
}

