body {
    text-align: center;
    /*background: url('../img/background.jpg');*/
    background-size: cover;
    /*font-family: 'Roboto', 'Helvetica Nue', cursive;*/
    /*font-size: 110%;*/
    color: #fff;

}

table {
    width:100%;
    max-width:100%;
    /*border: 2px solid black;*/
    margin: auto;
    color: #fff;
    border-spacing: 2px;
    border-color: #454d55;
    background-color: #4f4646;
}
th {
    padding:.75rem;
    vertical-align:top;
    /*border-top:1px solid #000000;*/
    border-top: 1px solid #dee2e6;
    background: #211f1f;
}
td {

    width: 300px;
    padding: 10px;
    background: #363232;
}
dd {

    width: 300px;
    padding: 10px;
}
dt {
    width: 300px;
}

a:hover{
    color:#fff;
}
a{
    text-decoration: none;
    color:#fff;
    transition: all .5s ease-in-out;
}
.head  {
    pointer-events: auto;
    width: 100%;
    position: fixed;
    top: auto;
    border: 0.5px solid #333;
    background: #B0E0E6;
}

/*calendar properties*/
div{
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.title{
    padding: 30px;
    font-size: 3rem;
    text-align:center;
}
#calendar
{
    border-color: #454d55;
    background-color: #4f4646;
    margin: 0 5%;
}
.month
{
    border: 1px solid grey;
    padding: 20px;
    text-align:center;
    font-size: 1.5rem;
}
.weeks{
    display:flex;
    border: 1px solid grey;
    flex-wrap: wrap;
}

.week-day{
    width: 100px;
    flex-grow: 1;
    border-right: 1px solid grey;
    padding: 10px;
    text-align:center;

}
.days{
    display:flex;
    border: 1px solid grey;
    flex-wrap: wrap;
}

.day{
    width: 11.18%;
    flex: 1 0 auto;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 30px 10px;
}
@media(max-width : 1024px)
{
    .day{
        width: 12.18%;
    }
}
/*.con {*/
/*    background:#32b7d1;*/
/*    width: auto;*/
/*    height: auto;*/
/*    position:absolute;*/
/*    top:50%;*/
/*    left:50%;*/
/*    text-align: left;*/
/*    margin:-200px 0 0 -200px;*/
/*    padding: 5px;*/
/*    color: black;*/
/*    border-spacing: 2px;*/
/*    border-color: #454d55;*/
/*}*/
/*mod{*/
/*    background-color: black;*/
/*}*/
.mod-close {
    width:15px;
    height:15px;
    position:absolute;
    top:23%;
    left:62%;
    text-align: center;
}
.cust{
    background-color: #717478;
    color : black;
    width:400px;
    height:auto;
    position: absolute;
    top: 50%;
    left: 29%;
    border-radius: 10px;

}
.cust-body{
    margin: 7px;
    padding: 3px;
    background-color: white;
}

.cust-title{
    color: white;
}
table.cust-text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
}
table.cust-text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
}
td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
}
/*#tab{*/
/*  background-color: #717478;*/
/*}*/