body {
    text-align: center;
    background: url('../img/background.jpg');
    background-size: cover;
    font-family: 'Roboto', 'Helvetica Nue', cursive;
    font-size: 110%;
    color: #F5F5DC;
}

table {
    color: #F5F5DC;
    border: 1px solid green;
    margin: auto;
    width: 1000px;
    background: navy;
}
th {

    width: 30px;
    padding: 10px;
}
td {

    width: 300px;
    padding: 10px;
    background: #3EB489;
}
dd {

    width: 300px;
    padding: 10px;
}
dt {
    width: 300px;
}

a:hover{
    color:red;
}
a{
    text-decoration: none;
    color:black;
    transition: all .5s ease-in-out;
}
.head  {
    pointer-events: auto;
    width: 100%;
    position: fixed;
    top: auto;
    border: 0.5px solid #333;
    background: #B0E0E6;
}

/*calendar properties*/
div{
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.title{
    padding: 30px;
    font-size: 3rem;
    text-align:center;
}
#calendar
{
    background: navy;
    margin: 0 5%;
}
.month
{
    border: 1px solid grey;
    padding: 20px;
    text-align:center;
    font-size: 1.5rem;
}
.weeks{
    display:flex;
    border: 1px solid grey;
    flex-wrap: wrap;
}

.week-day{
    width: 100px;
    flex-grow: 1;
    border-right: 1px solid grey;
    padding: 10px;
    text-align:center;

}
.days{
    display:flex;
    border: 1px solid grey;
    flex-wrap: wrap;
}

.day{
    width: 11.18%;
    flex: 1 0 auto;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 30px 10px;
}
@media(max-width : 1024px)
{
    .day{
        width: 12.18%;
    }
}
.content {
    width: auto;
    padding: 30px 10px;
    /* position: absolute; */
    /* background-color: black; */
    text-align: center;
}