body {
  text-align: center;
  background: url('../img/background.jpg');
  background-size: cover;
  font-family: 'Roboto', 'Helvetica Nue', cursive;
  font-size: 110%;
  color: #F5F5DC;
}
a.avatar {
  text-align: left;
  width: 300px;
}

table {
  background: navy;
}
td {
  background: #3EB489;
}

.header {
  width: 100%;
  position: fixed;
  top: auto;
  border: 0.5px solid #333;
  background: #B0E0E6;
}
.header li:hover ul, .header
li.jshover ul {
  display: block;
}
.header li:hover, .header li.jshover {
  background: #424242;
}
input[type="password"] {
  color: hsla(100, 100%, 40%, 0.7);
}

.saveButton:hover {
  font-size: 110%;
  background: green;
}
