body {
  background-size: cover;
  color: #F5F5DC;
}

table {
    width:100%;
    max-width:100%;
    pointer-events: none;
    text-decoration: none;
    margin: auto;
    color: #fff;
    border-spacing: 2px;
    border-color: #454d55;
    background-color: #4f4646;
}
th {
    padding:.75rem;
    vertical-align:top;
    border-top: 1px solid #dee2e6;
    background: #211f1f;
}
td {

    width: 300px;
  padding: 10px;
  background: #363232;
}

.head  {
  pointer-events: auto;

}

