<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
    <link rel="stylesheet" href="/resources/css/personal_account.css">
    </head>
    <body>
    <table class="header" cellpadding="4" cellspacing="1" border="1" align="center">
    <tr>
      <td><ul>
        <li> <a href="#"></a>Schedule</li>
        <li> <a href="#"></a>Tomorrow's schedule</li>
        <li> <a href="http://localhost:8080/schedule" target="">All schedule</a></li>
      </ul></td>
      <td><ul>
        <li><a href="http://localhost:8080/calendar" target="">Calendar</a></li>
      </ul> </td>
      <td><ul>
        <li><a href="http://localhost:8080/tasks" target="">Tasks</a></li>
      </ul> </td>
    </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="avatar"><img src="https://yt3.ggpht.com/a-/AAuE7mB-x4uFugC7DuM6ph-jphPsaE0nnZdUI-QUTg=s800-mo-c-c0xffffffff-rj-k-no" alt="avatar" width="200"
    vspace="5" hspace="5"> </a>
    <form method="post">
    <table class="persData" cellpadding="4" cellspacing="1" border="1" align='center' >
    <caption>Personal data</caption>
    <tr>
      <td>Name:<br>
        {{name}}</td>
    </tr>
    <tr>
      <td>Last name:<br>
        {{lastName}}</td>
    </tr>
    <tr>
      <td>E-mail:<br>
        {{email}}</td>
    </tr>
    <tr>
      <td>University:<br>
        {{university}}<br>
          <div class="dataField">University:<br>
              <select name="university">
                  <option value="ITMO">ITMO</option>
                  <option value="NSU">NSU</option>
                  <option value="SMTU">SMTU</option>
              </select></div></td>
    </tr>
    <tr>
      <td>group:<br>
        {{group}} <br>
        <div class="dataField">Group:<br>
            <input type="text" name="group" required/></div></td>
    </tr>
    <tr>
      <td>Role:<br>
        {{role}}</td>
    </tr>
    <tr>
      <td><hr> </td>
    </tr>
    <tr>
      <td>Old password:<br>
        <input type="password" name="password"></td>
    </tr>
    <tr>
      <td>New password:<br>
        <input type="password" name="password2"></td>
    </tr>
    </table>

    <input class="saveButton" type="submit" value="Save change">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </body>
</html>
