<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scedule</title>
    <link rel="stylesheet" href="css/schedule.css">
</head>
<body>
  <table class="header" cellpadding="4" cellspacing="1" border="1" align="center">
    <tr>
      <td><ul>
        <li> <a href="#"></a>Schedule</li>
        <li> <a href="#"></a>Tomorrow's schedule</li>
        <li> <a href="http://localhost:8080/schedule" target="">All schedule</a></li>
      </ul></td>
      <td><ul>
        <li><a href="http://localhost:8080/calendar" target="">Calendar</a></li>
      </ul> </td>
      <td><ul>
        <li><a href="http://localhost:8080/tasks" target="">Tasks</a></li>
      </ul> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
   <table class="tomorSheduleT" cellpadding="4" cellspacing="1" border="1" align='center'>
     <caption>Tomorrow's schedule</caption>
     <tr>
       <td>8:00</td>
       <td>9:50</td>
       <td>11:50</td>
       <td>13:45</td>
       <td>15:35</td>
       <td>17:25</td>
       <td>19:00</td>
     </tr>
     <tr>
       <td>-</td>
       <td>Maths</td>
       <td>SQL</td>
       <td>SQL</td>
       <td>-</td>
       <td>PE</td>
       <td>-</td>
     </tr>
     <tr>
       <td>-</td>
       <td>2470 <br>
         Popova street, 5</td>
       <td>3319 <br>
Popova street, 5</td>
       <td>3319 <br>
Popova street, 5</td>
       <td>-</td>
       <td>6202 <br>
Popova street, 37</td>
       <td>-</td>
     </tr>
   </table>
   <br>
   <br>
   <br>
   <br>
   <table class="weekSheduleT" cellpadding="4" cellspacing="1" border="1" align='center'>
     <caption>Schedule for the week</caption>
     <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
     </tr>
     <tr>
       <td>8:00</td>
       <td>SQL lecture</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>-</td>
     </tr>
     <tr>
       <td>9:50</td>
       <td>SQL lecture</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>-</td>
     </tr>
     <tr>
       <td>11:40</td>
       <td>SQL lecture</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>-</td>
     </tr>
     <tr>
       <td>13:45</td>
       <td>SQL lecture</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>-</td>
     </tr>
     <tr>
       <td>15:35</td>
       <td>SQL lecture</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>-</td>
     </tr>
     <tr>
       <td>17:25</td>
       <td>SQL lecture</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>-</td>
     </tr>
     <tr>
       <td>19:00</td>
       <td>-</td>
       <td>Maths practice</td>
       <td>Maths lecture</td>
       <td>PE</td>
       <td>SQL</td>
       <td>Maths practice</td>
     </tr>
   </table>
</body>
</html>
