<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="/resources/css/schedule.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <table class="header" cellpadding="4" cellspacing="1" border="1" align="center">
    <tr>
      <td><ul>
        <li> <a href="#"></a>Schedule</li>
        <li> <a href="#"></a>Tomorrow's schedule</li>
        <li> <a href="http://localhost:8080/schedule" target="">All schedule</a></li>
      </ul></td>
      <td><ul>
        <li><a href="http://localhost:8080/calendar" target="">Calendar</a></li>
      </ul> </td>
      <td><ul>
        <li><a href="http://localhost:8080/tasks" target="">Tasks</a></li>
      </ul> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="tomorrow_table">
      <p>${tomorrow_schedule}</p>
  </div>
   <br>
   <br>
   <br>
   <br>
   <div id="week_table">
       <p>${schedule}</p>
   </div>
    <script src="/resources/js/schedule.js"></script>
</body>
</html>
