<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>Календарь</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/calendar.css" />

    <style>
        *, ::after, ::before {
            box-sizing: inherit;
        }
        body {
            background-color: #e9ecef;
            color: #fff;
        }
        p{
            /*background-color: black;*/
            margin: 5px;
            padding: 3px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <p class="navbar-brand">Academ <b>Resourse</b></p>
        <div class="btn-group">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:50px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{profile}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{schedule}">Расписание</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link active" th:href="@{tasks}">Задания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{calendar}">Календарь</a>
                </li>
            </ul>
        </div>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-light" type="submit">Выйти</button>
        </form>
    </div>
</nav>
<br><br><br><br><br>
<div id="calendar">
    <div class="title">{{title}}</div>
    <div class="month">
        <a href="#" @click="previousMonth">
            < </a> {{thisMonth}} , {{thisYear}} <a href="#" @click="nextMonth"> > </a></div>
    <div class="weeks">
        <div class="week-day" v-for="weekDay in weekDays"> {{weekDay}}
        </div>
    </div>
    <div class="days" v-if="firstWeekDay == 'Sunday'">
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <div class="cust">
                <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                    <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                        <div class="con">
                            <p class="text-justify" > Предмет: {{ task.subject }} </p>

                            <p class="text-justify">
                                Задание: {{ task.task }}
                            </p>
                        </div>

                    </div>
                </mod>
            </div>

            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day" v-if="lastDay==31" v-for="a in 4"></div>
        <div class="day" v-if="lastDay==30" v-for="a in 5"></div>
        <div class="day" v-if="lastDay==29" v-for="a in 6"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 7"></div>

    </div>
    <div class="days" v-if="firstWeekDay == 'Monday' && firstWeekDay != 'Sunday'">
        <div class="day"></div>
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                    <div class="con">
                        <p class="text-justify" > Предмет: {{ task.subject }} </p>

                        <p class="text-justify">
                            Задание: {{ task.task }}
                        </p>
                    </div>

                </div>
            </mod>
            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day" v-if="lastDay==31" v-for="a in 3"></div>
        <div class="day" v-if="lastDay==30" v-for="a in 4"></div>
        <div class="day" v-if="lastDay==29" v-for="a in 5"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 6"></div>
    </div>
    <div class="days" v-if="firstWeekDay == 'Tuesday'  && firstWeekDay != 'Sunday' && firstWeekDay != 'Monday'">
        <div class="day" v-for="a in 2"></div>
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                    <div class="con">
                        <p class="text-justify" > Предмет: {{ task.subject }} </p>

                        <p class="text-justify">
                            Задание: {{ task.task }}
                        </p>
                    </div>

                </div>
            </mod>
            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day" v-if="lastDay==31" v-for="a in 2"></div>
        <div class="day" v-if="lastDay==30" v-for="a in 3"></div>
        <div class="day" v-if="lastDay==29" v-for="a in 6"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 5"></div>
    </div>
    <div class="days" v-if="firstWeekDay == 'Wednesday' && firstWeekDay != 'Sunday' && firstWeekDay != 'Monday' && firstWeekDay != 'Tuesday'">
        <div class="day" v-for="a in 3"></div>
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                    <div class="con">
                        <p class="text-justify" > Предмет: {{ task.subject }} </p>

                        <p class="text-justify">
                            Задание: {{ task.task }}
                        </p>
                    </div>

                </div>
            </mod>
            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day"  v-if="lastDay==31"></div>
        <div class="day" v-if="lastDay==30" v-for="a in 2"></div>
        <div class="day" v-if="lastDay==29" v-for="a in 3"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 4"></div>
    </div>
    <div class="days" v-if="firstWeekDay == 'Thursday'  && firstWeekDay != 'Sunday' && firstWeekDay != 'Monday' && firstWeekDay != 'Tuesday' && firstWeekDay != 'Wednssday'">
        <div class="day" v-for="a in 4"></div>
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                    <div class="con">
                        <p class="text-justify" > Предмет: {{ task.subject }} </p>

                        <p class="text-justify">
                            Задание: {{ task.task }}
                        </p>
                    </div>

                </div>
            </mod>
            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day" v-if="lastDay==30"></div>
        <div class="day" v-if="lastDay==29" v-for="a in 2"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 3"></div>

    </div>
    <div class="days" v-if="firstWeekDay == 'Friday' && firstWeekDay != 'Sunday' && firstWeekDay != 'Monday' && firstWeekDay != 'Tuesday' && firstWeekDay != 'Wednssday' && firstWeekDay != 'Thursday'">
        <div class="day" v-for="a in 5"></div>
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                    <div class="con">
                        <p class="text-justify" > Предмет: {{ task.subject }} </p>

                        <p class="text-justify">
                            Задание: {{ task.task }}
                        </p>
                    </div>

                </div>
            </mod>
            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day" v-if="lastDay==31" v-for="a in 6"></div>
        <div class="day" v-if="lastDay==29" v-for="a in 1"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 2"></div>
    </div>
    <div class="days" v-if="firstWeekDay == 'Saturday' && firstWeekDay != 'Sunday' && firstWeekDay != 'Monday' && firstWeekDay != 'Tuesday' && firstWeekDay != 'Wednssday' && firstWeekDay != 'Thursday' && firstWeekDay != 'Friday'">
        <div class="day" v-for="a in 6"></div>
        <div class="day" v-for="(n, index) in lastDay">
            <span style="color:red" v-if="realMonth == thisMonth && n==today">{{ n }}</span>
            <span v-if="realMonth != thisMonth || realMonth == thisMonth && n != today">{{ n }}</span>
            <mod  v-show="modalForTasks(n)" @close="closeModalForTasks(n)">

                <div class="tasksOfDay" v-for="task in tasks" v-if="currentDate(n, task.date)">
                    <div class="con">
                        <p class="text-justify" > Предмет: {{ task.subject }} </p>

                        <p class="text-justify">
                            Задание: {{ task.task }}
                        </p>
                    </div>

                </div>
            </mod>
            <div >
                <button class="btn btn-info" @click="buttonForTasks(n)" v-if="isRenderButton(n, tasks)">
                    Показать задания
                </button>
            </div>
        </div>
        <div class="day" v-if="lastDay==31" v-for="a in 5"></div>
        <div class="day" v-if="lastDay==30" v-for="a in 6"></div>
        <div class="day" v-if="lastDay==28" v-for="a in 1"></div>
    </div>
</div>

<br>
<hr>
<div class="container">
    <footer align="left">
        <font color="black" >&copy; Netcracker 2019</font>
    </footer>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js'></script>
<script  src="js/calendar.js"></script>
</body>
</html>