<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" type="text/css" href="css/greeting.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="row justify-content-md-center">
    <h1>Academ Resource</h1>
</div>
<br>
<div>
    <p>Добро пожаловать на наш ресурс, благодаря нам, Вы перестанете пропускать дедлайны и будете учиться на отлично, конечно, если будете следовать всем инструкциям</p>
    <br>
    <p>Хочешь попробовать? Тогда зарегистрируйся или войди, если уже пользуешься этим проектом</p>
</div>
<a th:href="@{/profile}">Main page</a>
</body>