<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/registration.css" />
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<strong class="msg"> {{message}} </strong>
<table class="socialNetworks" align='right' border="0">
  <tr>
    <th>Login with</th>
  </tr>
  <tr>
    <td><a href="http://vk.com/" target="_blank">Вконтакте</a></td>
  </tr>
</table>
<hr>

<br>
<table border="0" align='center'>
<form method="post" action="/registration">

<tr>
  <td><div class="dataField">E-mail:<br>
   <input type="email" name="email" required/></div> </td>
</tr>
<tr>
   <td><div class="dataField">Password:<br>
   <input type="password" name="password" required/></div> <td>
</tr>
<tr>
<tr>
   <td><div class="dataButton"><input type="submit" value="Sing up"></div></td>
</tr>
<br>
<tr>
   <td><div class="dataButton"><input type="reset"></div></td>
</tr>
</form>
</table>
<script src="/resources/js/registration.js"></script>
</body>
</html>
