<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <link rel="stylesheet" type="text/css" href="css/tasks.css" />
</head>
<body>
<table class="head" cellpadding="4" cellspacing="1" border="1" align="center">
  <tr>
    <td><ul>
      <li><a href="/schedule" target="">Schedule</a></li>
    </ul></td>
    <td><ul>
      <li><a href="/calendar" target="">Calendar</a></li>
    </ul> </td>
    <td><ul>
      <li><a href="/tasks" target="">Tasks</a></li>
    </ul> </td>
    <td><ul>
      <li><a href="/profile" target="">Profile</a></li>
    </ul> </td>
  </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<div id="taskTable">
  <table cellpadding="4" cellspacing="1" border="1" align=\'center\' >
        <caption>Tasks</caption>
        <thead>
        <tr>
            <th>№</th>
            <th>Date</th>
            <th>Subject</th>
            <th>Text</th>
            <th>Link</th>
            <th>Is done</th>
          </tr>
        </thead>
        <tbody>
       <tr th:block th:each="task, state: ${tasks}"
           class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
         <td th:utext="${state.count}">№</td>
         <td th:utext="${task.date}">Date</td>
         <td th:utext="${task.subject}">Subject</td>
         <td th:utext="${task.task}">Text</td>
         <td th:utext="${task.link}">Link</td>
            <td><input type="checkbox" name="isDone">is done</td>
         </tr>
        </tbody>
      </table>
</div>


<br>
<br>
<div id="newJob">
  <p th:utext="${admin}"></p>
    <hr>
  <form action="/tasks" method="post">
    <table cellpadding="4" cellspacing="1" border="1" align='center'>
      <tr>
        <th>Data</th>
        <th>Subject</th>
        <th>Task type</th>
        <th>Text</th>
        <th>Link</th>
      </tr>
        <tr>
        <td> <input type="date" name="date" value="newDate" required></td>
        <td><select class="select" name="subject">
          <option th:block th:each="subject: ${subjects}" th:utext="${subject.getName()}"></option>
        </select></td>
        <td><select class="select" name="taskLvl">
          <option th:block th:each="taskLvl : ${taskLvls}" th:utext="${taskLvl.getName()}"></option>
        </select></td>
        <td> <input type="text" name="taskText"></td>
        <td> <input type="url" name="link"></td>
      </tr>
      <tr>
        <td colspan="5"><input type="hidden" th:value="${_csrf.token}" name="_csrf">
          <button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
  </template>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript" src="js/tasks.js"></script>
</body>
</html>

