<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js'></script>
  <link rel="stylesheet" type="text/css" href="css/tasks.css" />
</head>
<body>
<table class="head" cellpadding="4" cellspacing="1" border="1" align="center">
  <tr>
    <td><ul>
      <li><a href="/schedule" target="">Schedule</a></li>
    </ul></td>
    <td><ul>
      <li><a href="/calendar" target="">Calendar</a></li>
    </ul> </td>
    <td><ul>
      <li><a href="/tasks" target="">Tasks</a></li>
    </ul> </td>
  </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<div id="taskTable">
  <table cellpadding="4" cellspacing="1" border="1" align='center' >
    <caption>Tasks</caption>
    <thead>
    <tr>
      <th>№</th>
      <th>Data</th>
      <th>Subject</th>
      <th>Text</th>
      <th>Link</th>
      <th>Is done</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="task in tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.date }}</td>
      <td>{{ task.subject }}</td>
      <td>{{ task.text }}</td>
      <td><a :href="task.link" target="_blank">Link</a></td>
      <td><input type="checkbox" name="isDone">is done</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div id="newJob">
  <template v-if="access">
    <hr>
    <table cellpadding="4" cellspacing="1" border="1" align='center'>
      <tr>
        <th>Data</th>
        <th>Subject</th>
        <th>Text</th>
        <th>Link</th>
      </tr>
      <tr>
        <td> <input type="date" name="newDate" value="newDate"></td>
        <td><select class="select" name="select">
          <option selected value="s1">Maths</option>
          <option value="s2">SQL</option>
          <option value="s3">PE</option>
        </select></td>
        <td> <input type="text" name="newText"></td>
        <td> <input type="url" name="newLink" value="newLink"></td>
      </tr>
      <tr>
        <td colspan="4"><button class="addButton" type="button" name="addJob">Add job</button></td>
      </tr>
    </table>
  </template>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript" src="js/tasks.js"></script>
</body>
</html>

